.ProductMainTitle {
    font-weight: bold;
    font-size: 17px;
    color: black;
    padding: 3px;
    font-family: sans-serif;
}

.ProductDescription {
    font-size: 11px;
    color: black;
    font-family: sans-serif;
    text-decoration: none;
}

p {
    text-align: left;
font: 10px/12px sans-serif;
margin: 0px;
padding: 0px 0px 5px 0px;
}