A:visited, A:active,  A:link
{
	font-family: verdana, lucida, helvetica, sans-serif;
	text-decoration: none;
	color:Black;
}

A:hover
{
	font-family: verdana, lucida, helvetica, sans-serif;
	text-decoration: underline;
	color:Black;
}

.Text
{
	font-family: verdana, lucida, helvetica, sans-serif;
	font-size: 10px;
	color:Black;
}

.ProductDetails
{
	border: #cea67b 1px solid;
	background-color: #ffd3a5;
}

.ProductActivities
{
	background-color: #ffd3a5;
	color:Black;
}

.ProductShopLinks
{
	background-color: #cea67b;
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 117px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px;
}
